   <!-- Project name: Hermes con el niño Dionisio -->
 <script>         
         path.push("Hermes.gcode")
      </script>
<div class="card">
    
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile3" role="tab"><span
                    class="hidden-sm-up"></span> <span class="hidden-xs-down">Archivo 3D</span></a> </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content tabcontent-border">
        <div class="tab-pane  active" id="profile3" role="tabpanel">
            <div class="p-20">
                <div class="row" style="margin-top: -20px; margin-bottom: +20px;">
                    <div class="col-md-6" style="margin-bottom: -50px;">
                       <div><img id="PHermes con el niño Dionisioimg1" style="display: block; margin-left: auto; margin-right: auto; margin-top: 35px;"
                           src="" width="65%" height="auto"
                           class="img-fluid"
                           ></div>
                    </div>
                    <div class="col-md-6" style="margin-bottom: -50px; border-left: 3px solid grey; height: auto;">
                       <div class="card" style="margin-top: 0px; margin-bottom: 0px;">
                           <div class="card-body" style="margin-top: 20px; margin-bottom:auto;">
                               <div class="accordion" id="accordionExample">
                               <div class="card m-b-0">
                                   <div class="card-header" id="headingOne">
                                       <h5 class="mb-0">
                                           <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                               aria-controls="collapseOne">
                                               <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                               <span>Descripción:</span>
                                           </a>
                                       </h5>
                                   </div>
                                   <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                       data-parent="#accordionExample">
                                       <div class="card-body">
                                           <p style="text-align: justify;">Hermes con el niño Dionisio es una escultura griega realizada por el escultor Praxíteles en el 350-330 a.C. La escultura original esta expuesta en el Museo Arqueológico de Olimpia. Este proyecto consiste en la impresión 3D de una replica a escala 1:9,68 (cm).</p>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <div id="textbox" style="display:flex; justify-content: space-between; font-size: 115%; background-color:rgba(0, 0, 0, 0.03); ">
                               <p style="margin-top: 10px; margin-bottom: 10px; margin-left: 20px;"><i class="fa fa-arrow-right"></i><b> Tiempo impresión: </b></p>
                               <p style="margin-top: 10px; margin-bottom: 10px; margin-right: 10px;"> 26h 01m</p>
                              </div>
                              <br>
                              <div id="textbox" style="display:flex; justify-content: space-between; font-size: 115%; background-color:rgba(0, 0, 0, 0.03); ">
                               <p style="margin-top: 10px; margin-bottom: 10px; margin-left: 20px;"><i class="fa fa-arrow-right"></i><b> Material necesario: </b></p>
                               <p style="margin-top: 10px; margin-bottom: 10px; margin-right: 10px;"> 139.53g</p>
                              </div>
                              <br>
                              <div id="textbox" style="display:flex; justify-content: space-between; font-size: 115%; background-color:rgba(0, 0, 0, 0.03); ">
                               <p style="margin-top: 10px; margin-bottom: 10px; margin-left: 20px;"><i class="fa fa-arrow-right"></i><b> Color recomendado: </b></p>
                               <p style="margin-top: 10px; margin-bottom: 10px; margin-right: 10px;"> Blanco Glaciar</p>
                              </div>
                              <br>
                              <div id="textbox" style="display:flex; justify-content: space-between; font-size: 115%; background-color:rgba(0, 0, 0, 0.03); ">
                               <p style="margin-top: 10px; margin-bottom: 10px; margin-left: 20px;"><i class="fa fa-arrow-right"></i><b> Soportes: </b></p>
                               <p style="margin-top: 10px; margin-bottom: 10px; margin-right: 10px;"> Si</p>
                              </div>
                              <br>
                              <div id="textbox" style="display:flex; justify-content: space-between; font-size: 115%; background-color:rgba(0, 0, 0, 0.03); ">
                               <p style="margin-top: 10px; margin-bottom: 10px; margin-left: 20px;"><i class="fa fa-arrow-right"></i><b> Post-procesado: </b></p>
                               <p style="margin-top: 10px; margin-bottom: 10px; margin-right: 10px;"> Retirada de soportes</p>
                              </div>
                              <br>
                              <div id="textbox" style="display:flex; justify-content: space-between; font-size: 115%; background-color:rgba(0, 0, 0, 0.03); ">
                               <p style="margin-top: 10px; margin-bottom: 10px; margin-left: 20px;"><i class="fa fa-arrow-right"></i><b> Ruta del archivo: </b></p>
                               
                              </div>
                              <div class="card m-b-0">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                                                aria-controls="collapseTwo">
                                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                                <span>Imprmir:</span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseTwo" class="collapse show" aria-labelledby="headingOne"
                                        data-parent="#accordionExample">
                                        <div class="card-body">
                                            <table class="card-table table" id="impresoras3">
                                             
                                            </table>
                                                    <div id="waitUpload3"
                                                    style="display: none; justify-content: center; align-content: center;">
                                                    <div>
                                                        <h4 style="margin-top: 7px;">Procesando, espere...
                                                            &nbsp&nbsp</h4>
                                                    </div>
                                                    <div class="loader"></div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                              <br>
                           </div>
                       </div>
                    </div>

                </div>
            </div>
        </div>
</div>