<style>
    .btn {
        border-radius: 40px;
    }
</style>
<!-- Tabs -->
<div class="card">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home2" role="tab"><span
                    class="hidden-sm-up"></span> <span class="hidden-xs-down">Tab1</span></a> </li>
        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile2" role="tab"><span
                    class="hidden-sm-up"></span> <span class="hidden-xs-down">Tab2</span></a> </li>
        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages2" role="tab"><span
                    class="hidden-sm-up"></span> <span class="hidden-xs-down">Tab3</span></a> </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content tabcontent-border">
        <div class="tab-pane active" id="home2" role="tabpanel">
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus rhoncus ex eu sem dignissim
                    posuere. Praesent vestibulum dapibus massa, vel tempus dolor bibendum quis. Vestibulum ante ipsum
                    primis in faucibus orci luctus et ultrices posuere cubilia curae; Vivamus mattis pharetra sem at
                    eleifend. Duis in dui quis ex molestie porttitor. Donec pretium nunc a libero imperdiet hendrerit.
                    Nullam non venenatis eros, sit amet blandit arcu. Cras ultrices, nisl et laoreet lacinia, dui sem
                    ultrices ante, ut fermentum mauris lorem ac quam. Donec vel orci ac ligula accumsan porta.
                    Curabitur dictum nibh sit amet mauris varius bibendum ac a leo. Donec ultrices odio lectus, sit
                    amet commodo diam pharetra et. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer sit
                    amet urna vitae nunc convallis facilisis sed eu mauris.

                    Duis justo ante, maximus nec libero sed, elementum porta lorem. Vivamus at neque consectetur,
                    tempor dolor semper, ornare urna. Nunc mattis diam vel dui volutpat, vitae mollis dolor finibus.
                    Maecenas sed finibus sem. Cras sollicitudin tellus libero. Sed vehicula lorem nec magna rutrum,
                    tempus congue nisi blandit. Mauris sollicitudin imperdiet nibh, tincidunt posuere nisi fringilla
                    eu. Mauris suscipit ante a nulla maximus mattis. Integer justo ipsum, sagittis consequat interdum
                    sit amet, gravida eget eros. Nullam sit amet ipsum iaculis, vestibulum nibh ac, vulputate leo.
                    Mauris nec nulla a diam interdum viverra nec quis nunc. Aenean dictum id odio in efficitur.

                    Vivamus vulputate rutrum iaculis. Proin quis nunc risus. Praesent non libero quis erat congue
                    aliquet. Nulla accumsan vestibulum erat vel tincidunt. Morbi tristique, mi et maximus pulvinar,
                    enim arcu tempor felis, sit amet consectetur ligula lorem aliquet diam. Duis quis sollicitudin
                    erat. Donec in quam nibh. In ante ipsum, dignissim nec quam ac, feugiat efficitur dolor.</p>
                <div><img id="P1img1" src="/media/logo-text2.png" class="img-fluid"></div>
            </div>
        </div>
        <div class="tab-pane  p-20" id="profile2" role="tabpanel">
            <div>
                <div class="row" style="margin-top:-30px;">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <h3 class="card-title" style="text-align: center;">h3 </h3>
                                <h4>h4</h4>

                                Duis justo ante, maximus nec libero sed, elementum porta lorem. Vivamus at neque
                                consectetur, tempor dolor semper, ornare urna. Nunc mattis diam vel dui volutpat, vitae
                                mollis dolor finibus. Maecenas sed finibus sem. Cras sollicitudin tellus libero. Sed
                                vehicula lorem nec magna rutrum, tempus congue nisi blandit. Mauris sollicitudin
                                imperdiet nibh, tincidunt posuere nisi fringilla eu. Mauris suscipit ante a nulla
                                maximus mattis. Integer justo ipsum, sagittis consequat interdum sit amet, gravida eget
                                eros. Nullam sit amet ipsum iaculis, vestibulum nibh ac, vulputate leo. Mauris nec
                                nulla a diam interdum viverra nec quis nunc. Aenean dictum id odio in efficitur.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body ">
                                <div><img id="P1img2" style="display: block; margin-left: auto; margin-right: auto;"
                                        src="/media/laberinto_Qe3Vr50.png" class="img-fluid"></div>
                                <div style="text-align: center;"><b>negrita</b>
                                    <i>cursiva</i> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane p-20" id="messages2" role="tabpanel">
            <div>
                <div style="text-align: center;">
                    <b>
                        <h2>TITULO</h2>
                    </b>
                    <hr> <!-- salto de linea dibujando linea separadora -->
                    <br><!-- salto de linea normal -->
                </div>
                <!-- accoridan part -->
                <div class="accordion" id="accordionExample">
                    <div class="card m-b-0">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                    aria-controls="collapseOne">
                                    <i class="m-r-5 fa fa-magnet" aria-hidden="true"></i>
                                    <span>Accordion Example 1</span>
                                </a>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson
                                ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on
                                it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                                excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                                sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="card m-b-0 border-top">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                    aria-expanded="false" aria-controls="collapseTwo">
                                    <i class="m-r-5 fa fa-magnet" aria-hidden="true"></i>
                                    <span>Accordion Example 2</span>
                                </a>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson
                                ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on
                                it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                                excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                                sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="card m-b-0 border-top">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <a class="collapsed" data-toggle="collapse" data-target="#collapseThree"
                                    aria-expanded="false" aria-controls="collapseThree">
                                    <i class="m-r-5 fa fa-magnet" aria-hidden="true"></i>
                                    <span>Accordion Example 3</span>
                                </a>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson
                                ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on
                                it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
                                helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
                                excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim
                                aesthetic synth nesciunt you probably haven't heard of them accusamus labore
                                sustainable VHS.
                            </div>
                        </div>
                    </div>
                </div>
                <!-- toggle part -->
                <div id="accordian-4">
                    <div class="card m-t-30">
                        <a class="card-header link" data-toggle="collapse" data-parent="#accordian-4" href="#Toggle-1"
                            aria-expanded="true" aria-controls="Toggle-1">
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            <span>Toggle, Open by default</span>
                        </a>
                        <div id="Toggle-1" class="collapse show multi-collapse">
                            <div class="card-body widget-content">
                                This box is opened by default, paragraphs and is full of waffle to pad out the comment.
                                Usually, you just wish these sorts of comments would come to an end.
                            </div>
                        </div>
                        <a class="card-header link border-top" data-toggle="collapse" data-parent="#accordian-4"
                            href="#Toggle-2" aria-expanded="false" aria-controls="Toggle-2">
                            <i class="fa fa-times" aria-hidden="true"></i>
                            <span>Toggle, Closed by default</span>
                        </a>
                        <div id="Toggle-2" class="multi-collapse collapse" style="">
                            <div class="card-body widget-content">
                                This box is now open
                            </div>
                        </div>
                        <a class="card-header link collapsed border-top" data-toggle="collapse"
                            data-parent="#accordian-4" href="#Toggle-3" aria-expanded="false" aria-controls="Toggle-3">
                            <i class="fa fa-times" aria-hidden="true"></i>
                            <span>Toggle, Closed by default</span>
                        </a>
                        <div id="Toggle-3" class="collapse multi-collapse">
                            <div class="card-body widget-content">
                                This box is now open
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>