<style>
    .btn {
        border-radius: 40px;
    }
</style>

<!-- Project name:Expansión SMARS III SUMO-->
<script>
    files.push(1)
    path.push("SMARS_SUMO.gcode")
</script>
<!-- Tabs 
-->
<div class="card">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#profile_P5_1" role="tab"><span
                    class="hidden-sm-up"></span> <span class="hidden-xs-down">Descripción</span></a> </li>
        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile_P5_2" role="tab"><span
                    class="hidden-sm-up"></span> <span class="hidden-xs-down">instrucciones</span></a> </li>
        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile_P5_3" role="tab"><span
                    class="hidden-sm-up"></span> <span class="hidden-xs-down">Codigo</span></a> </li>
        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile_P5_4" role="tab"><span
                    class="hidden-sm-up"></span> <span class="hidden-xs-down">Archivo 3D</span></a> </li>


    </ul>
    <!-- Tab panes -->
    <div class="tab-content tabcontent-border">
        <div class="tab-pane p-20 active" id="profile_P5_1" role="tabpanel">
            <div>
                <br>
                <div class="row" style="margin-top: -20px; margin-bottom: +20px;">
                    <div class="col-md-6"
                        style="display: block; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto;">
                        <br><br><br>
                        <div><img id="PExpansión SMARS III SUMOimg1"
                                style="display: block; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto;"
                                width: 140%; height: auto;" src="" width="165%" height="auto" class="img-fluid"></div>


                    </div>
                    <div class="col-md-6" style="margin-bottom: -50px; border-left: 3px solid grey; height: auto;">
                        <div class="card" style="margin-top: 0px; margin-bottom: 0px;">
                            <div class="card-body" style="margin-top: 20px; margin-bottom:auto;">
                                <div class="accordion" id="accordionExampleP1_2">
                                    <div class="card m-b-0">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <a data-toggle="collapse" data-target="#collapseP1_1"
                                                    aria-expanded="true" aria-controls="collapseOne">
                                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                                    <span>Descripción:</span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapseP1_1" class="collapse show" aria-labelledby="headingOne"
                                            data-parent="#accordionExampleP1_2">
                                            <div class="card-body">
                                                <div class="card-body">
                                                    <p style="text-align: justify;">En esta expansión vamos a combinar
                                                        las otras dos expansiones junto con una pala impresa para hacer
                                                        un robot luchador de sumo. El objetivo de esta expansión es
                                                        hacer que SMARS sea capaz de localizar un oponente y sacarlo
                                                        fuera de un recinto delimitado mientras intenta evitar salirse
                                                        del mismo recinto. Para ello haremos uso de los sensores IR y
                                                        del sensor ultrasónico.
                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="accordion" id="accordionExampleP1_3">
                                    <div class="card m-b-0">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <a data-toggle="collapse" data-target="#collapseP1_3"
                                                    aria-expanded="true" aria-controls="collapseOne1">
                                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                                    <span>Lista de materiales:</span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapseP1_3" class="collapse show" aria-labelledby="headingOn1e"
                                            data-parent="#accordionExampleP1_3">
                                            <div class="card-body">
                                                <p style="text-align: justify;">En esta expansión no se requiere de
                                                    material adicional más que los sensores montados de las otras
                                                    expansiones y el archivo impreso de esta.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane p-20" id="profile_P5_2" role="tabpanel">
            <div>
                <br>
                <div class="row" style="margin-top: -20px; margin-bottom: +20px;">
                    <div class="col-md-6" style="display: block;">
                        <br> <br>

                        <div class="accordion" id="accordionExampleP1_2">
                            <div class="card m-b-0">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <a data-toggle="collapse" data-target="#collapseP1_1" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                            <span>Paso 1:</span>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseP1_1" class="collapse show" aria-labelledby="headingOne"
                                    data-parent="#accordionExampleP1_2">
                                    <div class="card-body">
                                        <div class="card-body">
                                            <p style="text-align: justify;">El primer paso será desconectar todos los
                                                cables de la placa de control para poder sacarla entera para poder
                                                montar las nuevas juntas para los accesorios.
                                            </p>
                                            <div><img id="PExpansión SMARS III SUMOimg2"
                                                    style="display: block; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto;"
                                                    width: 75%; height: auto;" src="" width="150%" height="auto"
                                                    class="img-fluid"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion" id="accordionExampleP1_2">
                            <div class="card m-b-0">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <a data-toggle="collapse" data-target="#collapseP1_1" aria-expanded="true"
                                            aria-controls="collapseOne">
                                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                            <span>Paso 2:</span>
                                        </a>
                                    </h5>
                                </div>
                                <div id="collapseP1_1" class="collapse show" aria-labelledby="headingOne"
                                    data-parent="#accordionExampleP1_2">
                                    <div class="card-body">
                                        <div class="card-body">
                                            <p style="text-align: justify;">Luego desmontar el sensor ultrasónico y
                                                acoplar la nueva junta para poder unirse a la pala.

                                            </p>
                                            <div><img id="PExpansión SMARS III SUMOimg3"
                                                    style="display: block; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto;"
                                                    width: 75%; height: auto;" src="" width="75%" height="auto"
                                                    class="img-fluid"></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="col-md-6" style="margin-bottom: -50px; border-left: 3px solid grey; height: auto;">
                        <div class="card" style="margin-top: 0px; margin-bottom: 0px;">
                            <div class="card-body" style="margin-top: 20px; margin-bottom:auto;">
                                <div class="accordion" id="accordionExampleP1_2">
                                    <div class="card m-b-0">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <a data-toggle="collapse" data-target="#collapseP1_1"
                                                    aria-expanded="true" aria-controls="collapseOne">
                                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                                    <span>Paso 3:</span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapseP1_1" class="collapse show" aria-labelledby="headingOne"
                                            data-parent="#accordionExampleP1_2">
                                            <div class="card-body">
                                                <div class="card-body">
                                                    <p style="text-align: justify;">Finalmente volvemos a introducir la
                                                        placa de electrónica cableamos los motores y la batería como
                                                        estaba antes y cableamos todos los sensores como se muestra en
                                                        la foto y se describe a continuación:
                                                    </p>
                                                    <p style="text-align: justify;">
                                                        Segun el codigo de colores de la foto las conexiones son: </p>
                                                         <b>Sensor ultrasónico:</b><ul> 
                                                            <li>Blanco - +5</li>
                                                            <li>Rojo - GND</li>
                                                            <li>Negro - A5</li>
                                                            <li>Marron - A4</li>
                                                        </ul>
                                                          <b>Sensores IR:</b><ul> 
                                                            <li>Rojo - +5</li>
                                                            <li>Naranja - GND</li>
                                                            <li>Amarillo - A3</li>
                                                            <li>Morado - +5</li>
                                                            <li>Azul - GND</li>
                                                            <li>Verde - A2</li>
                                                            <li>Morado - +5</li>
                                                            <li>Azul - GND</li>
                                                            <li>Verde - A1</li>
                                                           
                                                        </ul>

                                                   
                                                    <div><img id="PExpansión SMARS III SUMOimg4"
                                                            style="display: block; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto;"
                                                            width: 75%; height: auto;" src="" width="150%" height="auto"
                                                            class="img-fluid"></div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane p-20" id="profile_P5_3" role="tabpanel">
            <div>
                <br>
                <div class="row" style="margin-top: -20px; margin-bottom: +20px;">
                    <div class="col-md-6">

                        <div class="card" style="margin-top: 0px; margin-bottom: 0px;">
                            <div class="card-body" style="margin-top: 20px; margin-bottom:auto;">
                                <div class="accordion" id="accordionExampleP1_2">
                                    <div class="card m-b-0">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <a data-toggle="collapse" data-target="#collapseP1_1"
                                                    aria-expanded="true" aria-controls="collapseOne">
                                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                                    <span>Codigo Demo 5:</span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapseP1_1" class="collapse show" aria-labelledby="headingOne"
                                            data-parent="#accordionExampleP1_2">
                                            <div class="card-body">
                                                <div class="card-body">
                                                    <p style="text-align: justify;">Este código hará que el robot siga
                                                        una línea negra sin salirse, se recomienda hacer un circuito con
                                                        cinta aislante negra.
                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <pre><code>//DAMA3D
//SMARS Demo 4 ultrasonic sensor

#include <span class="hljs-tag">&lt;<span class="hljs-name">AFMotor.h</span>&gt;</span> 

AF_DCMotor R_motor(4);           // defines Right motor connector
AF_DCMotor L_motor(3);           // defines Left motor connector

//IR Sensor setup:
 const int irCenterPin = A4; // signal center IR sensor connected to Arduino's pin A2
 const int irRightPin = A3;  // signal right IR sensor connected to Arduino's pin A3
 const int irLeftPin = A5;
 // signal left IR sensor connected to Arduino's pin A4
 boolean stateCenterIR = 0; // state to store irCenterPin detected
 boolean stateRightIR = 0;  // state to store irCenterPin irRightPin
 boolean stateLeftIR = 0;   // state to store irCenterPin irLeftPin

void setup() {
  Serial.begin(9600);           // sets up Serial library at 9600 bps
  pinMode(irCenterPin, INPUT);   // Sets the irCenterPin as an Input
  pinMode(irRightPin, INPUT);   // Sets the irRightPin as an Input
  pinMode(stateLeftIR, INPUT);   // Sets the stateLeftIR as an Input

//changes the following values to make the robot  drive as straight as possible   
  
  L_motor.setSpeed(200);        // sets L motor speed
  R_motor.setSpeed(200);        // sets R motor speed
  
//configuration parameters

  R_motor.run(RELEASE);         //turns L motor on
  L_motor.run(RELEASE);         //turns R motor on
}

 
//function to make the robot move forward
void goForward(){
  L_motor.run(FORWARD);      
  R_motor.run(FORWARD); 
}

//function to make the robot move Backward 
void goBackward(){
  L_motor.run(BACKWARD);      
  R_motor.run(BACKWARD); 
}

//function to make the robot turn left
void turnLeft(){
  L_motor.run(BACKWARD);      
  R_motor.run(FORWARD); 
}

//function to make the robot turn right
void turnRight(){
  L_motor.run(FORWARD);      
  R_motor.run(BACKWARD); 
}

//function to make the robot stop moving
void Stop(){
  R_motor.run(RELEASE);         
  L_motor.run(RELEASE);
}

void loop() {
if((digitalRead(irLeftPin)==false) && (digitalRead(irCenterPin)==true) && (digitalRead(irRightPin)==false)){
    
    goForward();
  }
  if((digitalRead(irLeftPin)==false) && (digitalRead(irCenterPin)==false) && (digitalRead(irRightPin)==true)){

    turnRight();
  }
  if((digitalRead(irLeftPin)==false) && (digitalRead(irCenterPin)==true) && (digitalRead(irRightPin)==true)){
   
    turnRight();
  }
  if((digitalRead(irLeftPin)==true) && (digitalRead(irCenterPin)==false) && (digitalRead(irRightPin)==false)){

    turnLeft();
  }
  if((digitalRead(irLeftPin)==true) && (digitalRead(irCenterPin)==true) && (digitalRead(irRightPin)==false)){

    turnLeft();
  }
  if((digitalRead(irLeftPin)==true) && (digitalRead(irCenterPin)==true) && (digitalRead(irRightPin)==true)){

     goForward();
  } 
}

  

  </code></pre>

                            </div>
                        </div>

                    </div>
                    <div class="col-md-6" style="margin-bottom: -50px; border-left: 3px solid grey; height: auto;">
                        <div class="card" style="margin-top: 0px; margin-bottom: 0px;">
                            <div class="card-body" style="margin-top: 20px; margin-bottom:auto;">
                                <div class="accordion" id="accordionExampleP1_2">
                                    <div class="card m-b-0">
                                        <div class="card-header" id="headingOne">
                                            <h5 class="mb-0">
                                                <a data-toggle="collapse" data-target="#collapseP1_1"
                                                    aria-expanded="true" aria-controls="collapseOne">
                                                    <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                                    <span>Codigo demo 6:</span>
                                                </a>
                                            </h5>
                                        </div>
                                        <div id="collapseP1_1" class="collapse show" aria-labelledby="headingOne"
                                            data-parent="#accordionExampleP1_2">
                                            <div class="card-body">
                                                <div class="card-body">
                                                    <p style="text-align: justify;">Este programa hará que SMARS no
                                                        salga de un recinto delimitado por lineas negras(cinta
                                                        aislante).
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br><br><br><br><br><br>
                                <pre><code>//DAMA3D
//SMARS Demo 6 with IR sensor

#include <span class="hljs-tag">&lt;<span class="hljs-name">AFMotor.h</span>&gt;</span> 


AF_DCMotor R_motor(4);           // defines Right motor connector
AF_DCMotor L_motor(3);           // defines Left motor connector

//IR Sensor setup:
 const int irCenterPin = A4; // signal center IR sensor connected to Arduino's pin A2
 const int irRightPin = A3;  // signal right IR sensor connected to Arduino's pin A3
 const int irLeftPin = A5;
 // signal left IR sensor connected to Arduino's pin A4
 boolean stateCenterIR = 0; // state to store irCenterPin detected
 boolean stateRightIR = 0;  // state to store irCenterPin irRightPin
 boolean stateLeftIR = 0;   // state to store irCenterPin irLeftPin

void setup() {
  Serial.begin(9600);           // sets up Serial library at 9600 bps
  
  pinMode(irCenterPin, INPUT);   // Sets the irCenterPin as an Input
  pinMode(irRightPin, INPUT);   // Sets the irRightPin as an Input
  pinMode(stateLeftIR, INPUT);   // Sets the stateLeftIR as an Input
//changes the following values to make the robot  drive as straight as possible   
  
  L_motor.setSpeed(205);        // sets L motor speed
  R_motor.setSpeed(205);        // sets R motor speed
  
//configuration parameters

  R_motor.run(RELEASE);         //turns L motor on
  L_motor.run(RELEASE);         //turns R motor on
}


//function to make the robot move forward
void goForward(){
  L_motor.run(FORWARD);      
  R_motor.run(FORWARD); 
}

//function to make the robot move Backward 
void goBackward(){
  L_motor.run(BACKWARD);      
  R_motor.run(BACKWARD); 
}

//function to make the robot turn left
void turnLeft(){
  L_motor.run(BACKWARD);      
  R_motor.run(FORWARD); 
}

//function to make the robot turn right
void turnRight(){
  L_motor.run(FORWARD);      
  R_motor.run(BACKWARD); 
}

//function to make the robot stop moving
void Stop(){
  R_motor.run(RELEASE);         
  L_motor.run(RELEASE);
}

void loop() {
  
    if((digitalRead(irLeftPin)==true) || (digitalRead(irCenterPin)==true) || (digitalRead(irRightPin)==true)){
      Stop();
      delay(100);
      goBackward();
      delay(150);
      turnRight();
      delay(300);
  }
    
 goForward(); // move forward  for 1s


  } </code></pre>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane p-20" id="profile_P5_4" role="tabpanel">
            <div class="p-20">
                <div class="row" style="margin-top: -20px; margin-bottom: +20px;">
                    <div class="col-md-6"
                        style="display: block; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto;">

                        <div><img id="PExpansión SMARS III SUMOimg5"
                                style="display: block; margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto;"
                                src="" width="165%" height="auto" class="img-fluid"></div>
                    </div>
                    <div class="col-md-6" style="margin-bottom: -50px; border-left: 3px solid grey; height: auto;">
                        <div class="card" style="margin-top: 0px; margin-bottom: 0px;">
                            <div class="card-body" style="margin-top: 20px; margin-bottom:auto;">
                                <div id="textbox"
                                    style="display:flex; justify-content: space-between; font-size: 115%; background-color:rgba(0, 0, 0, 0.03); ">
                                    <p style="margin-top: 10px; margin-bottom: 10px; margin-left: 20px;"><i
                                            class="fa fa-arrow-right"></i><b> Nombre: </b></p>
                                    <p style="margin-top: 10px; margin-bottom: 10px; margin-right: 10px;"> Expansión
                                        sumo
                                    </p>
                                </div>
                                <br>
                                <div id="textbox"
                                    style="display:flex; justify-content: space-between; font-size: 115%; background-color:rgba(0, 0, 0, 0.03); ">
                                    <p style="margin-top: 10px; margin-bottom: 10px; margin-left: 20px;"><i
                                            class="fa fa-arrow-right"></i><b> Tiempo impresión: </b></p>
                                    <p style="margin-top: 10px; margin-bottom: 10px; margin-right: 10px;"> 4h 25m
                                    </p>
                                </div>
                                <br>
                                <div id="textbox"
                                    style="display:flex; justify-content: space-between; font-size: 115%; background-color:rgba(0, 0, 0, 0.03); ">
                                    <p style="margin-top: 10px; margin-bottom: 10px; margin-left: 20px;"><i
                                            class="fa fa-arrow-right"></i><b> Material necesario: </b></p>
                                    <p style="margin-top: 10px; margin-bottom: 10px; margin-right: 10px;"> 30g
                                    </p>
                                </div>
                                <br>
                                <div id="textbox"
                                    style="display:flex; justify-content: space-between; font-size: 115%; background-color:rgba(0, 0, 0, 0.03); ">
                                    <p style="margin-top: 10px; margin-bottom: 10px; margin-left: 20px;"><i
                                            class="fa fa-arrow-right"></i><b> Color recomendado: </b></p>
                                    <p style="margin-top: 10px; margin-bottom: 10px; margin-right: 10px;"> A juego con
                                        el resto del SMARS
                                    </p>
                                </div>
                                <br>
                                <div id="textbox"
                                    style="display:flex; justify-content: space-between; font-size: 115%; background-color:rgba(0, 0, 0, 0.03); ">
                                    <p style="margin-top: 10px; margin-bottom: 10px; margin-left: 20px;"><i
                                            class="fa fa-arrow-right"></i><b> Soportes: </b></p>
                                    <p style="margin-top: 10px; margin-bottom: 10px; margin-right: 10px;"> Si</p>
                                </div>
                                <br>
                                <div id="textbox"
                                    style="display:flex; justify-content: space-between; font-size: 115%; background-color:rgba(0, 0, 0, 0.03); ">
                                    <p style="margin-top: 10px; margin-bottom: 10px; margin-left: 20px;"><i
                                            class="fa fa-arrow-right"></i><b> Post-procesado: </b></p>
                                    <p style="margin-top: 10px; margin-bottom: 10px; margin-right: 10px;"> Retirar soportes</p>
                                </div>
                                <br>

                                <div class="card m-b-0">
                                    <div class="card-header" id="headingOne">
                                        <h5 class="mb-0">
                                            <a data-toggle="collapse" data-target="#accordionExampleP1_4"
                                                aria-expanded="true" aria-controls="collapseP1_0">
                                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                                                <span>Imprmir:</span>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseP1_2" class="collapse show" aria-labelledby="headingOne"
                                        data-parent="#accordionExampleP1_4">
                                        <div class="card-body">
                                            <table class="card-table table" id="impresoras12">

                                            </table>
                                            <div id="waitUpload12"
                                                style="display: none; justify-content: center; align-content: center;">
                                                <div>
                                                    <h4 style="margin-top: 7px;">Procesando, espere...
                                                        &nbsp&nbsp</h4>
                                                </div>
                                                <div class="loader"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>




    </div>
</div>