{% load static %}

{% include 'printerManagerApp/header.html' %}


{% include "printerManagerApp/sidebar.html" %}

<style>
    .btn {
        border-radius: 40px;
    }
</style>

<script>
    let images = []
    let ProjectIdImgaes = []
    let projects = []
    let printers = []
    let printersStatus = []
</script>
{% for img in images %}
<script>
    images.push("{{img.img}}")
    ProjectIdImgaes.push("{{img.project}}")
</script>
{% endfor %}

{% for printer in my_printer_list %}
<script>
    printers.push("{{printer.name}}")
</script>
{% endfor %}

{% for status in printersStatus %}
<script>
    printersStatus.push("{{status}}")
</script>
{% endfor %}

<style>
    .loader {
        border: 9px solid #f3f3f3;
        border-radius: 50%;
        border-top: 9px solid #7e7e7e;
        width: 40px;
        height: 40px;
        -webkit-animation: spin 2s linear infinite;
        /* Safari */
        animation: spin 2s linear infinite;
        
    }

    /* Safari */
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    .resizing-input input,
    .resizing-input span {
        font-size: 12px;
        font-family: Sans-serif;
        white-space: pre;
        padding: 5px;
    }
</style>



<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h3 id="test" class="page-title"> {{projects.0.getCategory}}</h3>
                <div class="ml-auto text-right">

                </div>
            </div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row el-element-overlay" data-masonry='{"percentPosition": true }'>

            {%for p in projects%}

            <div class="col-lg-3 col-md-4">
                <div class="card" style="">
                    <div class="el-card-item" data-toggle="modal" data-target="#showProject_{{p.getId}}">


                        <div class="el-card-avatar el-overlay-1 "> <img id="P{{p.name}}img0" src="" />

                        </div>
                        <div class="el-card-content">
                            <h4 class="m-b-0">{{p.getName}}</h4> <span class="text-muted"></span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>


        {%for p in projects%}
        <script>
            projects.push("{{p.getName}}")  
        </script>
        <div class="modal fade" id="showProject_{{p.getId}}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" style="width: 1140;" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">{{p.getName}}</h3>
                    </div>
                    <div class="modal-body">
                        {{p.getDescription|safe}}
                        {#% include 'printerManagerApp/projects/PROJECT_TEST.html' %#}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endfor %}



<!-- ============================================================== -->
<!-- End PAge Content -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Right sidebar -->
<!-- ============================================================== -->
<!-- .right-sidebar -->
<!-- ============================================================== -->
<!-- End Right sidebar -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
</div>
</div>
<footer class="footer text-center">
    DAMA 3D
</footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->

<script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="{% static 'assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
<script src="{% static 'assets/extra-libs/sparkline/sparkline.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'dist/js/waves.js' %}"></script>
<!--Menu sidebar -->
<script src="{% static 'dist/js/sidebarmenu.js' %}"></script>
<!--This page JavaScript -->

<!--Custom JavaScript -->
<script src="{% static 'dist/js/custom.min.js' %}"></script>
<!-- this page js -->
<script src="{% static 'assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/libs/magnific-popup/meg.init.js' %}"></script>
<script src="{% static '/assets/libs/toastr/build/toastr.min.js' %}"></script>

<script src="{% static '/projectCategory_page.js' %}"></script>

<!--This page JavaScript -->
<script src="{% static '\assets\libs\masonry\masonry.pkgd.min.js' %}"></script>

</body>

</html>