{% load static %}

{% include 'printerManagerApp/header.html' %}


{% include "printerManagerApp/sidebar.html" %}

<style>
    .btn {
        border-radius: 40px;
    }
</style>

<!--This page JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
    integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async>
</script>


<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h3 id="test" class="page-title">CATEGORIA(TODO)</h3>
                <div class="ml-auto text-right">

                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row el-element-overlay" data-masonry='{"percentPosition": true }'>

            {%for p in projects%}

            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="el-card-item" data-toggle="modal" data-target="#showProject_{{p.getId}}">

                        <div class="el-card-avatar el-overlay-1"> <img
                                src="{% get_static_prefix  %}assets/images/projects{{p.getImgPath}}" />

                        </div>
                        <div class="el-card-content">
                            <h4 class="m-b-0">{{p.getName}}</h4> <span class="text-muted"></span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
        {%for p in projects%}
        <div class="modal fade" id="showProject_{{p.getId}}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" style="width: 1140;" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLabel">{{p.getName}}</h3>
                    </div>
                    <div class="modal-body">
                        <!-- {{p.getDescription|safe}}  -->
                        {% include 'printerManagerApp/projects/PROJECT_TEST.html' %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer text-center">
        EsplaiTech
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="{% static 'assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
<script src="{% static 'assets/extra-libs/sparkline/sparkline.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'dist/js/waves.js' %}"></script>
<!--Menu sidebar -->
<script src="{% static 'dist/js/sidebarmenu.js' %}"></script>
<!--This page JavaScript -->

<!--Custom JavaScript -->
<script src="{% static 'dist/js/custom.min.js' %}"></script>
<!-- this page js -->
<script src="{% static 'assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/libs/magnific-popup/meg.init.js' %}"></script>
<script src="{% static '/assets/libs/toastr/build/toastr.min.js' %}"></script>

<script>
    updateStatus();
</script>


</body>

</html>