{% load static %}

{% include 'printerManagerApp/header.html' %}


{% include "printerManagerApp/sidebar.html" %}

<style>
    .btn {
        border-radius: 40px;
    }
</style>

<!--This page JavaScript -->
<script src="{% static '/dashboard_page.js' %}"></script>

<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h3 id="test" class="page-title">Biblioteca de proyectos</h3>
                <div class="ml-auto text-right">

                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row el-element-overlay">

            <div class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="el-card-item">
                        <a href="projects/category/music">
                            <div class="el-card-avatar el-overlay-1"> <img src="{% static 'assets/images/MUSIC.jpg' %}"
                                    alt="user" />
                        </a>
                    </div>
                    <div class="el-card-content">
                        <h4 class="m-b-0">Música</h4> <span class="text-muted"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12">
            <div class="card">
                <div class="el-card-item">
                     <a href="projects/category/science">
                    <div class="el-card-avatar el-overlay-1"> <img src="{% static 'assets/images/MUSIC.jpg' %}"
                            alt="user" /></a>               
                    </div>
                    <div class="el-card-content">
                        <h4 class="m-b-0">Ciencias naturales</h4> <span class="text-muted"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12">
            <div class="card">
                <div class="el-card-item">
                    <a href="projects/category/social science">
                    <div class="el-card-avatar el-overlay-1"> <img src="{% static 'assets/images/MUSIC.jpg' %}"
                            alt="user" />  </a>                      
                    </div>
                    <div class="el-card-content">
                        <h4 class="m-b-0">Ciencias sociales</h4> <span class="text-muted"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12">
            <div class="card">
                <div class="el-card-item">
                     <a href="projects/category/math">
                    <div class="el-card-avatar el-overlay-1"> <img src="{% static 'assets/images/MUSIC.jpg' %}"
                            alt="user" />      </a>                 
                    </div>
                    <div class="el-card-content">
                        <h4 class="m-b-0">Matematicas</h4> <span class="text-muted"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="card">
                <div class="el-card-item">
                     <a href="projects/category/tecnology">
                    <div class="el-card-avatar el-overlay-1"> <img src="{% static 'assets/images/MUSIC.jpg' %}"
                            alt="user" />         </a>              
                    </div>
                    <div class="el-card-content">
                        <h4 class="m-b-0">Tecnologia</h4> <span class="text-muted"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="card">
                <div class="el-card-item">
                     <a href="projects/category/physics">
                    <div class="el-card-avatar el-overlay-1"> <img src="{% static 'assets/images/MUSIC.jpg' %}"
                            alt="user" />            </a>            
                    </div>
                    <div class="el-card-content">
                        <h4 class="m-b-0">Física</h4> <span class="text-muted"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="card">
                <div class="el-card-item">
                    <a href="projects/category/chemistry">
                    <div class="el-card-avatar el-overlay-1"> <img src="{% static 'assets/images/MUSIC.jpg' %}"
                            alt="user" />         </a>              
                    </div>
                    <div class="el-card-content">
                        <h4 class="m-b-0">Química</h4> <span class="text-muted"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="card">
                <div class="el-card-item">
                    <a href="projects/category/Crafts">
                    <div class="el-card-avatar el-overlay-1"> <img src="{% static 'assets/images/MUSIC.jpg' %}"
                            alt="user" />             </a>         
                    </div>
                    <div class="el-card-content">
                        <h4 class="m-b-0">Visual y plástica</h4> <span class="text-muted"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="card">
                <div class="el-card-item">
                    <a href="projects/category/Art history">
                    <div class="el-card-avatar el-overlay-1"> <img src="{% static 'assets/images/MUSIC.jpg' %}"
                            alt="user" />         </a>              
                    </div>
                    <div class="el-card-content">
                        <h4 class="m-b-0">Historia del arte</h4> <span class="text-muted"></span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<footer class="footer text-center">
    DAMA 3D
</footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="{% static 'assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
<script src="{% static 'assets/extra-libs/sparkline/sparkline.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'dist/js/waves.js' %}"></script>
<!--Menu sidebar -->
<script src="{% static 'dist/js/sidebarmenu.js' %}"></script>
<!--This page JavaScript -->

<!--Custom JavaScript -->
<script src="{% static 'dist/js/custom.min.js' %}"></script>
<!-- this page js -->
<script src="{% static 'assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/libs/magnific-popup/meg.init.js' %}"></script>
<script src="{% static '/assets/libs/toastr/build/toastr.min.js' %}"></script>

<script>
    updateStatus();
</script>


</body>

</html>