{% load static %}

{% include 'printerManagerApp/header.html' %}


{% include "printerManagerApp/sidebar.html" %}


<!-- ============================================================== -->
<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->

    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h2 class="page-title" style="text-align:center; margin-left: 46%;">Camaras</h2>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">

                    </nav>
                </div>
            </div>
        </div>
    </div>

  
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row el-element-overlay">
            {%for object in my_printer_list%}
            <div class="col-lg-3 col-md-6">
                <div class="card">
                    <div class="el-card-item">
                        <div class="el-card-avatar el-overlay-1"> <img onload=" init('{{object.ID}}')" src="{{object.url}}webcam/?action=stream"
                                alt="user" />
                            <div class="el-overlay">
                                <ul class="list-style-none el-info">
                                    <li class="el-item"><a
                                            class="btn default btn-outline image-popup-vertical-fit el-link"
                                            href="{{object.url}}webcam/?action=stream"><i
                                                class="mdi mdi-magnify-plus"></i></a>
                                    </li>
                                    <li class="el-item"><a class="btn default btn-outline el-link"
                                            href="../printer/{{object.ID}}"><i class="mdi mdi-link"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="el-card-content">
                            <h4 class="m-b-0">{{ object.name}}</h4>
                          
                            <br>
                            <button id="{{object.ID}}" name="ledPowerStatus" style="margin-left: 2%;" onClick=" ledOnOff('{{object.ID}}')"
                                class="btn btn-info">Encender luz</button>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <footer class="footer text-center">
            All Rights Reserved by Matrix-admin. Designed and Developed by <a
                href="https://wrappixel.com">WrapPixel</a>.
        </footer>
        <!-- ============================================================== -->
        <!-- End footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="{% static 'printerManagerApp/assets/libs/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'printerManagerApp/assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'printerManagerApp/assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="{% static 'printerManagerApp/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
<script src="{% static 'printerManagerApp/assets/extra-libs/sparkline/sparkline.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'printerManagerApp/dist/js/waves.js' %}"></script>
<!--Menu sidebar -->
<script src="{% static 'printerManagerApp/dist/js/sidebarmenu.js' %}"></script>
<!--This page JavaScript -->
<script src="{% static 'printerManagerApp/cameras_page.js' %}"></script>
<!--Custom JavaScript -->
<script src="{% static 'printerManagerApp/dist/js/custom.min.js' %}"></script>
<!-- this page js -->
<script src="{% static 'printerManagerApp/assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'printerManagerApp/assets/libs/magnific-popup/meg.init.js' %}"></script>
</body>

</html>