{% load static %}

{% include 'printerManagerApp/header.html' %}


{% include "printerManagerApp/sidebar.html" %}

<style>
    .btn {
        border-radius: 40px;
    }
</style>

<!--This page JavaScript -->
<script src="{% static '/dashboard_page.js' %}"></script>

<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h3 id="test" class="page-title">Dashboard</h3>
                <div class="ml-auto text-right">

                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->

        <div class="row">
            {%for object in onlinePrinters%}
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{object.name}}

                            <button id="led{{object.getId}}" style="margin-left: 2%;"
                                onClick="ledOnOff('{{object.getLedStatus}}','{{object.getId}}')"
                                class="btn btn-info"><i id="bulb" class=" far fa-lightbulb"></i></button>
                            <button id={{object.getPrinterPowerStatus}}{{object.getId}}
                                onClick="printerPowerOnOff('{{object.getPrinterPowerStatus}}','{{object.getId}}')"
                                class="btn btn-success float-right"><i class=" fas fa-power-off"></i></button>
                        </h3>



                        <hr>
                        
                        <div style="text-align:left;float:left;">
                            <h5 id="info{{object.getId}}">
                                Status: <br><br>
                                Progress: - <br><br>
                                Archivo: - <br><br>
                                Tiempo de impresion: -<br><br>
                                Tiempo restante: -</h5>
                            <br>


                        </div>
                        <div style="text-align:right;float:right;">
                            <a href="../printer/{{object.getId}}">
                                <img src="{{object.urlCam}}webcam/?action=stream" style="width: 270;" height="180">
                            </a>
                            <div class="progress m-t-15">
                                <div id="barraProgreso{{object.getId}}"
                                    class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                    style="width:43"></div>
                            </div>

                            <div style="display: block; text-align: center;">
                                <h5 id="progress{{object.getId}}" style="margin-top: 5px;">-</h5>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <script>
                initPrinter("{{object.getPrinterPowerStatus}}", "{{object.getId}}", "{{object.getLedStatus}}",
                    "{{username}}");
            </script>
            {% endfor %}

            {%for object in offlinePrinters%}
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">{{object.name}}
                        </h3>
                        <hr>

                        <div style="text-align:center;float:center;">
                            <h2>Impresora apagada</h2>
                        </div>
                        <div style="text-align:right;float:right;">

                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>

        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Container fluid  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- footer -->
<!-- ============================================================== -->
<footer class="footer text-center">
    DAMA 3D
</footer>
<!-- ============================================================== -->
<!-- End footer -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="{% static 'assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
<script src="{% static 'assets/extra-libs/sparkline/sparkline.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'dist/js/waves.js' %}"></script>
<!--Menu sidebar -->
<script src="{% static 'dist/js/sidebarmenu.js' %}"></script>
<!--This page JavaScript -->

<!--Custom JavaScript -->
<script src="{% static 'dist/js/custom.min.js' %}"></script>
<!-- this page js -->
<script src="{% static 'assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/libs/magnific-popup/meg.init.js' %}"></script>
<script src="{% static '/assets/libs/toastr/build/toastr.min.js' %}"></script>

<script>
    updateStatus();
</script>


</body>

</html>