{% load static %}

{% include 'printerManagerApp/header.html' %}


{% include "printerManagerApp/sidebar.html" %}

<!-- Page wrapper  -->
<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Full Width</h4>
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Library</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        {%for printer in printersOffline%}

        <div class="col-lg-3 col-md-6">
            La impresora {{printer}} esta offline
        </div>
        {% endfor %}
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer text-center">
      EsplaiTech
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Wrapper -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- All Jquery -->
<!-- ============================================================== -->
<script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="{% static 'assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<!-- slimscrollbar scrollbar JavaScript -->
<script src="{% static 'assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
<script src="{% static 'assets/extra-libs/sparkline/sparkline.js' %}"></script>
<!--Wave Effects -->
<script src="{% static 'dist/js/waves.js' %}"></script>
<!--Menu sidebar -->
<script src="{% static 'dist/js/sidebarmenu.js' %}"></script>
<!--This page JavaScript -->
<script src="{% static 'cameras_page.js' %}"></script>
<!--Custom JavaScript -->
<script src="{% static 'dist/js/custom.min.js' %}"></script>
<!-- this page js -->
<script src="{% static 'assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/libs/magnific-popup/meg.init.js' %}"></script>
</body>

</html>