{% load static %}


<style>
    .btn {
        border-radius: 40px;
    }
</style>
<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar" data-sidebarbg="skin5">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="p-t-30">
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/dashboard"
                        aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span
                            class="hide-menu">Dashboard</span></a></li>

                <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark"
                        href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-group"></i><span
                            class="hide-menu">Impresoras </span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        {%for object in my_printer_list%}
                        <li class="sidebar-item"><a href="/printer/{{object.IDa}}" onclick="abort()" class="sidebar-link"><i
                                    class="mdi mdi-printer"></i><span class="hide-menu"> {{object.name}}
                                </span></a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/cameras"
                        aria-expanded="false"><i class="mdi mdi-camera"></i><span class="hide-menu">Camaras</span></a>
                </li>

                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/projects"
                        aria-expanded="false"><i class="mdi mdi-file"></i><span class="hide-menu">Proyectos</span></a>
                </li>

                  <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/support"
                        aria-expanded="false"><i class="mdi mdi-email"></i><span class="hide-menu">Contacto</span></a>
                </li>



        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->